{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/about us.css'%}">
    <title>About us</title>
</head>
<body>
  <nav>
    <ul>
        <li id="title"><a href="default.asp"></a>Railways<img id="logo" src="{% static 'images/train (2).png'%}"></li>
        <li><a href="http://127.0.0.1:8000">Log Out</a></li>
        
        
      </ul>
    </nav>
    <nav id="bottom">
        
      <ul>
          <li style="margin-left:9% ;"><a href="http://127.0.0.1:8000//Home">Home</a></li>
          <li><a href="http://127.0.0.1:8000//classes">Trains</a></li>
          <li><a href="http://127.0.0.1:8000//Trips">Trips</a></li>
          <li><a href="http://127.0.0.1:8000//stations">Stations</a></li>
          <li><a href="http://127.0.0.1:8000//booked">Bookings</a></li>
          <li><a href="http://127.0.0.1:8000//aboutUs">About Us</a></li>
          <li><a href="http://127.0.0.1:8000//contactUs">Contact Us</a></li>
          <li><a href="http://127.0.0.1:8000//Profile">Profile</a></li>
      </nav>
   
      <div class="about">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text" style="font-size:  20px; text-align: justify;">
                Railways is a site that specializes in booking train tickets and provides you with several levels of comfort. Through the site, you can make an account, book tickets, know train times and levels for trains, know the stations, and view your reservations
            </p>

        </div>
    </div>
    
</body>

</html>