{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{%static 'css/update.css'%}">
  <title>profile</title>
</head>

<body>
  <nav>
    <ul>
        <li id="title"><a href="default.asp"></a>Railways<img id="logo" src="{% static 'images/train (2).png'%}"></li>
        <li><a href="http://127.0.0.1:8000">Log Out</a></li>
        
        
      </ul>
    </nav>
  <nav id="bottom">
    <ul>
      <li style="margin-left:9% ;"><a href="http://127.0.0.1:8000//Home">Home</a></li>
      <li><a href="http://127.0.0.1:8000//classes">Trains</a></li>
      <li><a href="http://127.0.0.1:8000//Trips">Trips</a></li>
      <li><a href="http://127.0.0.1:8000//stations">Stations</a></li>
      <li><a href="http://127.0.0.1:8000//booked">Bookings</a></li>
      <li><a href="http://127.0.0.1:8000//aboutUs">About Us</a></li>
      <li><a href="http://127.0.0.1:8000//contactUs">Contact Us</a></li>
      <li><a href="http://127.0.0.1:8000//Profile">Profile</a></li>
    </ul>
  </nav>
  <div class="mainDiv">
    <div class="profile divs">
      <img src="{%static 'images/ava.png'%}" width="150px" height="150px"
        style="margin-left:150px; margin-top:15px;border-radius: 50%;">

    </div>
    <div class="information">
      <h4>Full Name</h4>
      <p style="border-bottom:3px solid black;">{{prof_user}}</p>
      <h4>E-mail</h4>
      <p style="border-bottom:3px solid black;">{{prof_email}}</p>
      <h4>Address</h4>
      <p id="last" style="border-bottom:3px solid black;"> {{prof_locat}}</p>
    </div>
    <a href="http://127.0.0.1:8000//update"><button class="update">Update</button></a>
  </div>


</body>

</html>