{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Stations</title>
<link rel="stylesheet" href="{%static 'css/stations.css'%}" >
    </head>
    <body>
        <nav>
            <ul>
                <li id="title"><a href="default.asp"></a>Railways<img id="logo" src="{% static 'images/train (2).png'%}"></li>
                <li><a href="http://127.0.0.1:8000">Log Out</a></li>
                
                
              </ul>
            </nav>
        <nav id="bottom">
          <ul>
              <li style="margin-left:9% ;"><a href="http://127.0.0.1:8000//Home">Home</a></li>
              <li><a href="http://127.0.0.1:8000//classes">Trains</a></li>
              <li><a href="http://127.0.0.1:8000//Trips">Trips</a></li>
              <li><a href="http://127.0.0.1:8000//stations">Stations</a></li>
              <li><a href="http://127.0.0.1:8000//booked">Bookings</a></li>
              <li><a href="http://127.0.0.1:8000//aboutUs">About Us</a></li>
              <li><a href="http://127.0.0.1:8000//contactUs">Contact Us</a></li>
              <li><a href="http://127.0.0.1:8000//Profile">Profile</a></li>
            </ul>
      </nav>
        <h1>Our Stations</h1>
        <div >
            <div class="cairo box" >
                <h3><img src="{%static 'images/pin.png'%}">Cairo</h3>
                <p>Ramsis</p>
                <p>Ramsis Square, Al Fagalah, Al Azbakeya, Cairo Governorate</p>
            </div>
            <div class="alex box">
                <h3><img src="{%static 'images/pin.png'%}">ِAlexandria</h3>
                <p>Al Attarin</p>
                <p>Kom Ad Dakah Gharb, Al Attarin, Alexandria Governorate</p>
            </div>
            <div class="aswan box">
                <h3><img src="{%static 'images/pin.png'%}">Aswan</h3>
                <p>El Mahatta Square</p>
                <p>Saad Zaghloul St., El Mahatta Square, downtown Aswan</p>
            </div>
            <div class="assiut box">
                <h3><img src="{%static 'images/pin.png'%}">Assiut</h3>
                <p>Al-Hamra II</p>
                <p>Saad Zaghloul, Al-Hamra II, Qism II, Assiut Governorate</p>
            </div>
            <div class="fayoum box">
                <h3><img src="{%static 'images/pin.png'%}">Fayoum</h3>
                <p>Qesm Al Fayoum</p>
                <p>El-Khalifa El-Maamoun, Qesm Al Fayoum, Fayoum Governorate</p>
            </div>
            <div class="sharkia box ">
                <h3><img src="{%static 'images/pin.png'%}">Sharkia</h3>
                <p>Zagazig</p>
                <p>Orabi Square, Zagazig, Sharkia, Al Sharqia Governorate</p>
            </div>
        </div>




    </body>
</html>